$color_green_light: #18cfab;
$color_blue_light: #00cbf6;

$header_height: 100px;

/* ---------------------- FONTS ------------------------------*/
/*font-family: 'Montserrat', sans-serif;*/

@font-face {
    font-family: Montserrat;
    font-weight: 300;
    src: url("../fonts/montserrat/Montserrat-Light.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

/*************************************************************/

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%; // TO AVOID HORIZONTAL SCROLLING !!!
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    //overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h3 {
    font-size: 36px;
    font-weight: 400;
    color: #4e4e4e;
    margin-bottom: 30px;
}

hr {
    position: relative;
    width: 75px;
    border-top: 1px solid $color_green_light;
    margin: 2px auto;
}
.left-hr {
    left: -5px;
}
.right-hr {
    left: 5px;
}

// ----- HEADER starts ------

.verical-align {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#header {
    position: fixed;
    width: 100%;
    height: $header_height;
    background-color: #44433e;
    z-index: 999;

}

.logo-container {
    display: inline-block;
    .logo-button {
        width: 100%;
        height: 100%;
        display: inline-block;

        .logo-img {
            display: inline-block;
            width: auto;
            height: auto;
            padding: 16.5px 0px;
        }
    }
}

.fa-bars {
    display: inline-block;
    color: #b8b8b8;
    font-size: 40px;
    text-align: center;
    padding: 30px 0px;
    cursor: pointer;

    @media screen and (min-width: 992px) {
        display: none;
    }
}

.top-menu {
    display: none;

    ul {
        margin: 0;
        padding: 0;
        float: right;
        background-color: #44433e;
        /*one hint!*/
        font-size: 0px;
        li {
            display: block;
            padding: 5px 30px;
            text-align: center;
            a {
                display: inline-block;
                font-weight: 700;
                font-size: 13px;
                //width: 100%;
                height: 100%;
                text-decoration: none;
                text-transform: uppercase;
                color: #b8b8b8;
            }
            .active-section {
                color: $color_green_light !important;
                border-bottom: 3px solid $color_green_light;
            }

            a:hover {
                color: $color_green_light;
                border-bottom: 3px solid $color_green_light;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .top-menu {
        display: inline-block;

        ul {
            margin: 0;
            padding: 0;
            line-height: $header_height;
            float: right;
            background-color: transparent;
            li {
                display: inline-block;
                padding: 0px 7.5px;

                a {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 14px;
                    height: 100%;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #b8b8b8;
                }
                .active-section {
                    color: $color_green_light !important;
                    border-bottom: 3px solid $color_green_light;
                }

                a:hover {
                    color: $color_green_light;
                    border-bottom: 3px solid $color_green_light;
                }
            }
            li:first-child {
                padding-left: 0px;
            }
            li:last-child {
                padding-right: 0px;
            }
        }
    }
}
// ----- HEADER ends ------

//----- HOME section starts -----
#home {
    padding-top: $header_height;
    position: relative;
    width: 100%;

    .slider-cont {
        position: relative;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #747474;
        overflow-x: hidden;

        .slider {
            position: relative;
            width: 300%;
            height: calc(100vh - 100px);
            text-align: center;

            margin: 0px;
            padding: 0px;
            list-style-type: none;

            li {
                position: absolute;
                top: 0;
                //left: 0;
                display: inline-block;
                float: left;
                width: calc(100% / 3);
                height: calc(100vh - 100px);
                font-size: 35px;
                //transition: left 1s;
                //transition: none;

                background-repeat: no-repeat;
                background-position: center top;
                background-size:cover;

                .slider-dark-mask {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(60, 60, 60, 0.5);

                    h1, h2, p {
                        color: #ffffff;
                    }
                    h1 {
                        //font-size: 79px;
                        font-size: 1em;
                        font-weight: 700;
                        margin: 2vh;
                    }
                    h2 {
                        //font-size: 35px;
                        font-size: 0.5em;
                        font-weight: 700;
                        padding-top: 5vh;
                        margin-bottom: 0px;
                        span {
                            color: $color_green_light;
                        }

                    }
                    p {
                        //font-size: 32px;
                        font-size: 0.4em;
                        font-weight: 300;
                        margin: 0;
                        padding-bottom: 2vh;

                        @media screen and (min-height: 600px) {
                            padding-bottom: 3vh;
                        }

                    }
                    .btn-cont {
                        padding-top: 5px;
                        font-size: 0px;
                        button {
                            color: #ffffff;
                            background-color: $color_green_light;
                            width: 165px;
                            padding: 5px 0px;
                            margin: 10px 15px;
                            font-size: 13px;
                            font-weight: 700;
                            border: none;
                            border-radius: 4px;
                            box-shadow: 0px -5px  white;
                            transition: background-color 0.7s;

                            @media screen and (min-height: 600px) {
                                padding: 20px 0px;
                            }
                        }
                        button:hover {
                            background-color: $color_blue_light;
                        }
                    }
                    @media screen and (min-width: 420px) {
                        h2 {
                            padding-top: 10vh;
                        }
                    }

                    @media screen and (min-width: 687px) {
                        font-size: 50px;
                        h2 {
                            padding-top: 15vh;
                        }
                        .btn-cont {
                            padding-top: 10px;
                        }
                    }

                    @media screen and (min-width: 992px) {
                        font-size: 60px;
                        h2 {
                            padding-top: 20vh;
                        }
                        .btn-cont {
                            padding-top: 20px;
                        }
                    }

                    @media screen and (min-width: 1200px) {
                        font-size: 80px;
                        .btn-cont {
                            padding-top: 20px;
                        }
                    }
                }
            }
            li:nth-child(1){
                left: (-100% / 3);
                background-image: url(../images/slide_1.jpg);
            }
            li:nth-child(2){
                left: 0;
                background-image: url(../images/slide_2.jpg);
            }
            li:nth-child(3){
                left: (100% / 3);
                background-image: url(../images/slide_3.jpg);
            }
        }
    }

    .fa-angle-left, .fa-angle-right {
        position: absolute;
        color: #878787;
        background-color: #3c4140;
        font-size: 30px;
        padding: 5px 15px;
        cursor: pointer;
        z-index: 10;
        transition: all 0.7s;

        @media screen and (min-height: 550px) {
            font-size: 40px;
            padding: 10px 25px;
        }
    }
    .fa-angle-left {
        bottom: 2.5%;
        left: 25%;
    }
    .fa-angle-right {
        bottom: 2.5%;
        right: 25%;
    }
    .fa-angle-left:hover, .fa-angle-right:hover {
        color: #ffffff;
        background-color: $color_blue_light;
    }

    @media screen and (min-width: 687px) {
        .fa-angle-left {
            bottom: 50%;
            left: 5%;
        }
        .fa-angle-right {
            bottom: 50%;
            right: 5%;
        }
    }

    .home-gallery {
        width: 100%;
        height: auto;

        .home-gallery-item {
            float: left;
            display: inline-block;
            width: 100%;
            height: 300px;
            padding: 80px 10px;
            text-align: center;

            .home-gallery-img-cont {
                width: 100%;
                height: 100px;
            }

            p {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 2vh 0 0 0;
                margin: 0px;
            }
            @media screen and (min-width: 550px) {
                width: 50%;
            }

            @media screen and (min-width: 992px) {
                //height: 350px;
                width: 25%;
            }

        }
        .home-gallery-item:nth-child(odd) {
            color: $color_green_light;
            background-color: #1c2a33;
            border-top: 8px solid $color_green_light;
        }
        .home-gallery-item:nth-child(even) {
            color: #ffffff;
            background-color: $color_green_light;
            border-top: 8px solid #ffffff;
        }
    }
}
//----- HOME section ends -----

//----- SERVICE section starts -----
#service {
    position: relative;
    padding: 110px 0px 150px 0px;
    width: 100%;
    text-align: center;

    .service-menu {
        display: block;
        padding-top: 70px;
        width: 100%;
        height: 100%;
        ul {
            display: block;
            text-align: center;
            padding: 0px;
            width: 100%;
            height: 100%;
            /*one hint!*/
            font-size: 0px;
            li {
                float: left;
                display: inline-block;
                padding: 25px 0;
                width: 100%;
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
                color: #717171;
                cursor: pointer;
                border: 1px solid #eff0f1;
                border-collapse: collapse;
                background-color: #f8fcfe;
                transition: all 0.7s;

                @media screen and (min-width: 420px) {
                    width: 50%;
                }
                @media screen and (min-width: 600px) {
                    width: calc(100% / 3);
                }
                @media screen and (min-width: 992px) {
                    width: calc(100% / 6);
                }
            }
            li:hover {
                color: #ffffff;
                background-color: $color_blue_light;
            }
            .active-service-item {
                position: relative;
                color: #ffffff;
                background-color: $color_green_light;
            }
            .active-service-item::before {
                content: " ";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -10px;
                border: 10px solid transparent;
                border-top-color: $color_green_light;
            }
            .active-service-item:hover:before{
                border-top-color: $color_blue_light;
            }
        }
    }
    .service-item-container {
        display: none;
        padding: 30px 0px;

        img {
            padding: 25px;
        }

        p {
            padding: 10px 25px;
            margin: 0px;
            text-align: justify;
            font-size: 14px;
            font-weight: 400;
            color: #777777;
        }
        @media screen and (min-width: 544px) {
            img {
                padding: 10px;
            }
            //p {
            //    width: 50%;
            //}
        }
    }
    .active-service-item-cont {
        display: block;
    }
}
//----- SERVICE section ends -----

//----- ABOUT section starts -----
#about {
    position: relative;
    padding: 50px 0px;
    width: 100%;
    background-color: #090f14;

    .left-hr {
        left: -5px;
    }
    .right-hr {
        left: 5px;
    }

    img {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 0px;
    }

    .about-container {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 5vh 5vw;

        h3 {
            color: #ffffff;
            padding: 50px 0 0 10px;
            text-align: center;

            @media screen and (min-width: 687px) {
                padding: 0 0 0 10px;
                text-align: left;
            }
        }

        .about-menu {
            display: block;
            text-align: center;
            padding: 10vh 0 7vh 0;
            margin: 0;
            width: 100%;
            height: 100%;
            /*one hint!*/
            font-size: 0px;

            @media screen and (min-width: 687px) {
                text-align: left;
            }

            li {
                //float: left;
                display: inline-block;
                padding: 10px 0;
                margin: 0px 7.5px;
                //width: 33.33333333%;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                color: #ffffff;
                cursor: pointer;

            }
            li:hover, .active-about-item {
                border-top: 2px solid $color_green_light;
                color: $color_green_light;
            }
        }
        .about-item-container{
            display: none;
            text-align: center;

            p {
                color: #bebebe;
                font-size: 14px;
                font-weight: 300;
                text-align: center;


                @media screen and (min-width: 687px) {
                    text-align: left;
                }
            }

            .about-history-list {
                padding: 50px 0px;
                margin: 0 ;
                width: 100%;
                text-align: center;
                li {
                    float: none;
                    display: inline-block;
                    width: 100%;
                    margin: 0 auto;
                    text-align: left;
                    list-style: none;
                    background: url("../images/li_marker_img.png") no-repeat left center;
                    padding: 12px 10px 12px 40px;
                    color: #bebebe;
                    font-size: 14px;
                    font-weight: 300;

                    @media screen and (min-width: 500px) {
                        width: 80%;
                        float: left;
                    }

                    @media screen and (min-width: 687px) {
                        width: 100%;
                        float: left;
                    }

                    @media screen and (min-width: 1200px) {
                        width: 50%;
                        text-align: left;
                    }
                }
                @media screen and (min-width: 992px) {
                    text-align: left;
                }
            }

            .skill-container {
                position: relative;
                width: 100%;
                text-align: left;
                border: 1px solid #959595;
                border-radius: 5px;
                margin: 15px 0px;
                .skill-name {
                    position: relative;
                    padding: 15px 0 15px 15px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 400;
                    //border: 2px solid #9c5da5;
                    border-radius: 4px;
                    width: 100%;
                    //height: 50px;
                    z-index: 10;
                }
                .skill-progress{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    padding-left: 15px;
                    border-radius: 4px;
                    z-index: 5;
                    transition: width 3s;
                }

            }

            .skill-container:nth-child(1){
                .skill-progress{
                    background-color: #9c5da5;
                }
            }
            .skill-container:nth-child(2){
                .skill-progress{
                    background-color: #11b0de;
                }
            }
            .skill-container:nth-child(3){
                .skill-progress{
                    background-color: #d67f7f;
                }
            }
            .skill-container:nth-child(4){
                .skill-progress{
                    background-color: #20bc9d;
                }
            }
            .skill-container:nth-child(5){
                .skill-progress{
                    background-color: #bb8a36;
                }
            }
        }
        .active-about-item-cont {
            display: block;
        }
    }

    @media screen and (min-width: 687px) {
        .left-hr {
            left: -50px;
        }
        .right-hr {
            left: -45px;
        }

        img {
            width: 50%;
        }
        .about-container {
            width: 50%;
        }
    }
}
//----- ABOUT section ends -----

//----- WORK section starts -----
#work {
    position: relative;
    padding: 110px 0px 150px 0px;
    width: 100%;
    text-align: center;
    background-color: #f8fcfe;

    .work-menu {
        display: block;
        text-align: center;
        padding: 70px 0 0 0;
        width: 100%;
        height: 100%;
        /*one hint!*/
        font-size: 0px;
        li {
            display: inline-block;
            padding: 25px 0;
            width: 50%;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            color: #717171;
            cursor: pointer;
            border: 1px solid #eff0f1;
            border-collapse: collapse;
            background-color: #ffffff;
            transition: color 0.7s;

            @media screen and (min-width: 470px) {
                width: calc(100% / 3);
            }
            @media screen and (min-width: 687px) {
                width: calc(100% / 4);
            }
            @media screen and (min-width: 992px) {
                width: calc(100% / 6);
            }
        }
        li:hover {
            color: $color_blue_light;
            border-top: 3px solid $color_blue_light;
        }
        .active-work-item {
            color: $color_green_light;
            border-top: 3px solid $color_green_light;
        }
    }
    // start - paste and modify a part of code from previous project
    .portfolio-gallery {
        width: 100%;
        /*height: 500px;*/
        padding-top: 50px;
        /*position: relative;*/
    }

    .portfolio-gallery-img {
        display: inline-block;
        position: relative;
        background-color: #07bcd4;
        background-size: cover;
        width: 100%;
        float: left;
        border: 0px;
        padding: 0px;
        margin: 0px;
    }

    .portfolio-gallery-img > img {
        width: 100%;
    }

    .portfolio-hover-layer{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(248,252,254,0.9);
        //#f8fcfe
        /*z-index: 10;*/
        //cursor: pointer;
        opacity: 0;
        transition: opacity 0.7s;

        .portfolio-img-icons {
            margin-top: 10%;
        }

        .portfolio-img-icons > a {
            display: inline-block;
        }

        .fa-link, .fa-search {
            //position: absolute;
            color: $color_green_light;
            background-color: #f8fcfe;
            font-size: 16px;
            font-weight: 400;
            padding: 12px;
            margin: 5px;
            cursor: pointer;
            //z-index: 10;
            border: 1px solid $color_green_light;
            border-radius: 50%;
            transition: color 0.7s, background-color 0.7s;
        }

        .fa-link:hover, .fa-search:hover {
            color: #f8fcfe;
            background-color: $color_green_light;
        }

    }

    .portfolio-hover-layer:hover{
        opacity: 1;
        border-top: 4px solid $color_green_light;
    }

    .portfolio-hover-layer > .portfolio-img-name{
        display: block;
        margin-top: 5%;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $color_green_light;
    }

    .portfolio-hover-layer > .portfolio-img-category{
        display: block;
        font-size: 16px;
        font-weight: 300;
        text-transform: capitalize;
        text-align: center;
        color: #8a8a8a;
    }

    @media screen and (min-width: 400px) {
        .portfolio-gallery-img {
            width: 50%;
        }
    }

    @media screen and (min-width: 687px) {
        .portfolio-gallery-img {
            width: calc(100% / 3);
        }
    }

    @media screen and (min-width: 992px) {
        .portfolio-gallery-img {
            width: 25%;
        }
    }
    // end - paste and modify a part of code from previous project
}
//----- WORK section ends -----

//----- TEAM section starts -----
#team {
    position: relative;
    padding: 110px 0px 10px 0px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;

    .team-members {
        padding: 70px 0 150px 0;

        .team-member-cont {
            margin: 30px 0px;
            .team-member-item {
                position: relative;

                .team-member-hover-layer {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(24,207,171,0.3);
                    opacity: 0;
                    transition: opacity 0.7s;

                    .extern-circle {
                        display: inline-block;
                        margin-top: 20%;
                        cursor: pointer;
                        padding: 5px;
                        border: 2px solid $color_green_light;
                        border-radius: 50%;
                        background-color: transparent;
                        .fa-plus {
                            color: $color_green_light;
                            background-color: #ffffff;
                            font-size: 30px;
                            font-weight: 400;
                            //padding: 20px;
                            width: 70px;
                            height: 70px;
                            border: none;
                            border-radius: 50%;
                        }
                    }
                }

                img {
                    width: 100%;
                }
            }


            .team-member-bottom {
                width: 100%;
                background-color: #2e4a5b;
                transition: background-color 0.7s;
                .team-member-info {
                    .team-member-name {
                        display: block;
                        padding: 15px 0 3px 0;
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 700;
                    }
                    .team-member-text {
                        display: block;
                        padding: 3px 0 15px 0;
                        color: $color_blue_light;
                        font-size: 13px;
                        font-weight: 300;
                    }
                }
                .team-member-social-btns {
                    a {
                        display: inline-block;
                        float: left;
                        width: 25%;
                        cursor: pointer;
                        border-top: 1px solid #d5dbde;
                        border-right: 1px solid #d5dbde;
                    }
                    a:last-child {
                        border-right: none;
                    }
                    .fa {
                        color: #ffffff;
                        background-color: transparent;
                        font-size: 20px;
                        font-weight: 400;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
        }
        .team-member-cont:hover {
            .team-member-hover-layer {
                opacity: 1.0;

            }
            .team-member-bottom {
                background-color: $color_green_light;
                .team-member-text {
                    color: #2e4a5b;
                }
            }
        }
    }
    .team-gallery {
        width: 100%;
        height: auto;

        .team-gallery-item {
            float: left;
            display: inline-block;
            width: 100%;
            //height: 300px;
            padding: 40px 10px;
            text-align: center;

            .extern-circle {
                display: inline-block;
                padding: 20px;
                border-radius: 50%;
                background-color: transparent;
                .fa {
                    color: #ffffff;
                    background-color: $color_green_light;
                    font-size: 40px;
                    font-weight: 400;
                    //padding: 25px;
                    width: 100px;
                    height: 100px;
                    border: none;
                    border-radius: 50%;
                }
            }

            .team-item-counter {
                display: block;
                font-size: 36px;
                font-weight: 400;
                color: #ffffff;
                padding: 5px 0;
            }
            .team-item-text {
                display: block;
                font-size: 18px;
                font-weight: 300;
            }

            @media screen and (min-width: 550px) {
                width: 50%;
            }

            @media screen and (min-width: 992px) {
                width: 25%;
            }

        }
        .team-gallery-item:nth-child(odd) {
            color: $color_green_light;
            background-color: #25333c;
            border-top: 8px solid $color_green_light;

            .extern-circle {
                border: 2px solid $color_green_light;
                .fa {
                    background-color: $color_green_light;
                }
            }
            .team-item-text {
                color: $color_green_light;
            }
        }
        .team-gallery-item:nth-child(even) {
            color: #ffffff;
            background-color: $color_green_light;
            border-top: 8px solid #25333c;

            .extern-circle {
                border: 2px solid #25333c;
                .fa {
                    background-color: #25333c;
                }
            }
            .team-item-text {
                color: #25333c;
            }
        }
    }
}


//----- TEAM section ends -----

//----- NEWS section starts ----
#news {
    position: relative;
    padding: 100px 0px 100px 0px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;

    .news-cont {
        padding: 50px 0;

        .news-template {
            //cursor: pointer;
            margin: 15px 0px;
            a {
                text-decoration: none;
            }
            .news-item {
                position: relative;
                img {
                    width: 100%;
                }
                .news-date-cont {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: inline-block;
                    width: 70px;
                    height: 70px;
                    background-color: #203e38;
                    transition: background-color 0.7s;

                    .news-date, .news-month {
                        display: block;
                        font-size: 18px;
                        font-weight: 400;
                        color: #ffffff;

                    }
                    .news-date {
                        padding: 8px 0 6px 0;
                    }
                }
            }
            .news-text {
                display: block;
                width: 100%;
                //height: 70px;
                color: #717171;
                background-color: #f8fcfe;
                font-size: 18px;
                font-weight: 700;
                padding: 20px 0px;
                border: 1px solid #717171;
                transition: all 0.7s;
            }
        }

        .news-template:hover {
            .news-date-cont {
                background-color: $color_green_light;
            }
            .news-text {
                color: $color_green_light;
                font-weight: 400;
            }
        }
    }

    .btn-cont {
        text-align: center;
        .load-more-btn {
            outline: none;
            width: 170px;
            height: 60px;
            color: #ffffff;
            background-color: $color_green_light;
            border: none;
            border-radius: 5px;
            transition: background-color 0.7s;

            .inner-btn-cont {
                width: 100%;
                .fa-plus {
                    display: inline-block;
                    font-size: 20px;
                    font-weight: 400;
                }

                span {
                    display: inline-block;
                    font-size: 14px;
                    height: 20px;
                    //line-height: 20px;
                    font-weight: 700;
                    padding: 0px 0px 0px 15px;
                }
            }
        }
        button:hover {
            background-color: $color_blue_light;
        }
    }
}
//news.html styles
#newsNewPage{
    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }

    h1 {
        padding-top: 100px;
        padding-bottom: 20px;
        color: #4e4e4e;;
    }

    .news-date {
        display: block;
        width: 100%;
        padding-top: 20px;
        font-size: 30px;
        font-weight: 400;
        color: $color_blue_light;
        text-align: left;
    }

    .news-text {
        display: block;
        width: 100%;
        padding: 30px 0px;
        text-align: justify;
        color: #203e38;
    }

    .control-cont {
        text-align: center;
    }

    .control-cont .separate-line {
        display: block;
        width: 100%;
        border: 1px solid $color_green_light;
    }
}
//----- NEWS section ends ----

//----- FEEDBACK section starts ----
#feedback {
    padding: 100px 0px 0px 0px;
    width: 100%;
    text-align: center;
    background-color: #f8fcfe;

    .feedback-cont {
        padding: 10px 30px 30px 30px;
        margin-top: 60px;
        text-align: left;
        border: 3px solid #c8d9d8;
        min-height: 500px;

        .msg-template {
            position: relative;
            margin-top: 20px;
            .msg-title {
                font-size: 18px;
                font-weight: 400;
                color: #4e4e4e;
                background-color: #f7f7f7;
                border: 1px solid #dedede;
                border-radius: 7px 7px 0 0;
                margin: 0;
                padding: 10px 30px;
            }
            .msg-text {
                font-size: 14px;
                font-weight: 300;
                color: #4e4e4e;
                background-color: #ffffff;
                border: 1px solid #dedede;
                border-radius: 0 0 7px 7px;
                margin: 0;
                padding: 15px 15px;
                text-align: justify;
            }
            .fa-times {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 20px;
                font-weight: 400;
                color: #333333;
                padding: 15px;
            }
        }
    }
    .input-feedback-content {
        padding: 70px 0;

        .input-title, .input-msg {
            width: 100%;
            font-size: 24px;
            font-weight: 300;
            color: #4e4e4e;
            background-color: #ffffff;
            //outline: none;
            border: 1px solid #cfdcda;
            padding: 20px 15px;
            margin: 10px 0px;

        }
        input::-moz-placeholder {
            color: #9fb9c6;
        }

        input::-webkit-input-placeholder{
            color: #9fb9c6;
        }

        input:-ms-input-placeholder{
            color: #9fb9c6;
        }

        .input-title-error, .input-msg-error {
            display: none;
            padding: 0px 20px;
            margin: 0;
            font-size: 14px;
            font-weight: 400;
            color: red;
            background-color: transparent;
            text-align: left;
        }
        .submit-btn-cont {
            padding: 10px 0;
            text-align: center;

            @media screen and (min-width: 768px) {
                padding: 60px 0;
                text-align: left;
            }

            p {
                font-size: 24px;
                font-weight: 400;
                color: #4e4e4e;
                margin-bottom: 20px;
                //text-align: left;

                @media screen and (min-width: 400px) {
                    font-size: 30px;
                }
                @media screen and (min-width: 440px) {
                    font-size: 36px;
                }
                @media screen and (min-width: 768px) {
                    font-size: 24px;
                }
                @media screen and (min-width: 850px) {
                    font-size: 30px;
                }
                @media screen and (min-width: 992px) {
                    font-size: 32px;
                }
                @media screen and (min-width: 1200px) {
                    font-size: 34px;
                }
            }

            .input-add-btn {
                outline: none;
                width: 170px;
                height: 60px;
                color: #ffffff;
                background-color: $color_green_light;
                border: none;
                border-radius: 5px;
                transition: background-color 0.7s;

                .inner-btn-cont {
                    width: 100%;
                    .fa-plus {
                        display: inline-block;
                        font-size: 20px;
                        font-weight: 400;
                    }
                    span {
                        display: inline-block;
                        font-size: 14px;
                        height: 20px;
                        //line-height: 20px;
                        font-weight: 700;
                        padding-left: 15px;
                    }
                }
            }
            .input-add-btn:enabled:hover {
                background-color: $color_blue_light;
            }

            .input-add-btn:disabled {
                opacity: 0.7;
            }
        }
    }

}
//----- FEEDBACK section ends ----

//----- FEEDBACK section starts ----
#contact {
    padding: 100px 0px 100px 0px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;

    .map-cont {
        padding-left: 0;
        padding-right: 0;
        iframe {
            width: 100%;
            height: calc(100vh - 100px);
        }
        @media screen and (min-width: 768px) {
            padding-right: 15px;
        }
    }

    .form-cont {
        //text-align: left;
        h3 {
            text-align: center;
            margin-top: 30px;

            @media screen and (min-width: 768px) {
                text-align: left;
                margin-top: 0px;
            }
        }

        .input-contact-content {
            .inputs-container {
                padding: 40px 0 0 0;

                @media screen and (min-width: 768px) {
                    padding: 85px 0 0 0;
                }
                .input-name, .input-email, .input-text {
                    width: 100%;
                    font-size: 14px;
                    font-weight: 300;
                    color: #4e4e4e;
                    background-color: #ffffff;
                    //outline: none;
                    border: 1px solid #cfdcda;
                    padding: 15px 10px;
                    margin: 10px 0px;
                    text-align: left;
                }

                input::-moz-placeholder {
                    color: #9fb9c6;
                }

                input::-webkit-input-placeholder{
                    color: #9fb9c6;
                }

                input:-ms-input-placeholder{
                    color: #9fb9c6;
                }

                .input-name-error, .input-email-error, .input-text-error {
                    display: none;
                    padding: 0px 20px;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    color: red;
                    background-color: transparent;
                    text-align: left;
                }

                .submit-btn {
                    outline: none;
                    width: 100%;
                    height: 60px;
                    color: #ffffff;
                    background-color: $color_green_light;
                    border: none;
                    border-radius: 5px;
                    transition: background-color 0.7s;
                    margin-top: 10px;
                }
                //.submit-btn:hover {
                //    background-color: $color_blue_light;
                //}
                .submit-btn:enabled:hover {
                    background-color: $color_blue_light;
                }

                .submit-btn:disabled {
                    opacity: 0.7;
                }
            }
        }
    }
}

//----- FOOTER starts -----
#footer {
    width: 100%;
    min-height: 100px;
    background-color: #22353f;
    text-align: center;

    .footer-cont {
        //padding: 20px;
        p {
            display: block;
            color: #a5a6a7;
            font-size: 14px;
            font-weight: 300;
            padding: 10px 0px;
            padding-left: 10px;
            margin: 0px;
            span {
                color: $color_green_light;
            }
        }
        a {
            display: block;
            //width: 40px;
            //height: 40px;
            margin: 25px;

            .fa-angle-up {
                display: inline-block;
                color: #ffffff;
                background-color: $color_green_light;
                font-size: 32px;
                padding: 5px 11px;
                cursor: pointer;
                transition: all 0.7s;
            }

            .fa-angle-up:hover {
                background-color: $color_blue_light;
            }
        }
        @media screen and (min-width: 687px) {
            p, a {
                display: inline-block;
            }
        }
    }

}
//----- FOOTER ends -----
