$color_green_light: #18cfab;
$color_blue_light: #00cbf6;

$header_height: 100px;

/* ---------------------- FONTS ------------------------------*/
/*font-family: 'Montserrat', sans-serif;*/

@font-face {
    font-family: Montserrat;
    font-weight: 300;
    src: url("../fonts/montserrat/Montserrat-Light.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

/*************************************************************/

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%; // TO AVOID HORIZONTAL SCROLLING !!!
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    //overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h3 {
    font-size: 36px;
    font-weight: 400;
    color: #4e4e4e;
    margin-bottom: 30px;
}

hr {
    position: relative;
    width: 75px;
    border-top: 1px solid $color_green_light;
    margin: 2px auto;
}
.left-hr {
    left: -5px;
}
.right-hr {
    left: 5px;
}

// ----- HEADER starts ------

.verical-align {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#header {
    position: fixed;
    width: 100%;
    height: $header_height;
    background-color: #44433e;
    z-index: 999;

}

.logo-container {
    display: inline-block;
    .logo-button {
        width: 100%;
        height: 100%;
        display: inline-block;

        .logo-img {
            display: inline-block;
            width: auto;
            height: auto;
            padding: 16.5px 0px;
        }
    }
}

.fa-bars {
    display: inline-block;
    color: #b8b8b8;
    font-size: 40px;
    text-align: center;
    padding: 30px 0px;
    cursor: pointer;

    @media screen and (min-width: 992px) {
        display: none;
    }

}

.top-menu {
    display: none;

    ul {
        margin: 0;
        padding: 0;
        float: right;
        background-color: #44433e;
        /*one hint!*/
        font-size: 0px;
        li {
            display: block;
            padding: 5px 30px;
            text-align: center;
            a {
                display: inline-block;
                font-weight: 700;
                font-size: 13px;
                //width: 100%;
                height: 100%;
                text-decoration: none;
                text-transform: uppercase;
                color: #b8b8b8;
            }
            .active-section {
                color: $color_green_light !important;
                border-bottom: 3px solid $color_green_light;
            }

            a:hover {
                color: $color_green_light;
                border-bottom: 3px solid $color_green_light;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .top-menu {
        display: inline-block;

        ul {
            margin: 0;
            padding: 0;
            line-height: $header_height;
            float: right;
            background-color: transparent;
            li {
                display: inline-block;
                padding: 0px 7.5px;

                a {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 14px;
                    height: 100%;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #b8b8b8;
                }
                .active-section {
                    color: $color_green_light !important;
                    border-bottom: 3px solid $color_green_light;
                }

                a:hover {
                    color: $color_green_light;
                    border-bottom: 3px solid $color_green_light;
                }
            }
            li:first-child {
                padding-left: 0px;
            }
            li:last-child {
                padding-right: 0px;
            }
        }
    }
}
// ----- HEADER ends ------

//----- HOME section starts -----
#home {
    padding-top: $header_height;
    position: relative;
    width: 100%;

    .slider-dark-mask {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(60,60,60,1);
        //#3c3c3c
        //z-index: 5;
    }

    .slider-cont {
        position: relative;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #747474;
        //z-index: 6;
        overflow-x: hidden;

        .slider {
            position: relative;
            width: 500%;
            height: calc(100vh - 100px);
            text-align: center;

            margin: 0px;
            padding: 0px;
            list-style-type: none;
            li {
                display: inline-block;
                float: left;
                width: 20%;
                height: calc(100vh - 100px);
                font-size: 40px;
                h1, h2, p {
                    color: #ffffff;
                }
                h1 {
                    //font-size: 79px;
                    font-size: 1em;
                    font-weight: 700;
                    margin: 2vh;
                }
                h2 {
                    //font-size: 35px;
                    font-size: 0.5em;
                    font-weight: 700;
                    padding: 10vh 0px 0px 0px;
                    margin-bottom: 0px;
                    span {
                        color: $color_green_light;
                    }
                }
                p {
                    //font-size: 32px;
                    font-size: 0.4em;
                    font-weight: 300;
                    padding-bottom: 2vh;
                }
                .btn-cont {
                    padding-top: 5px;
                    font-size: 0px;
                    button {
                        color: #ffffff;
                        background-color: $color_green_light;
                        width: 165px;
                        padding: 20px 0px;
                        margin: 10px 15px;
                        font-size: 13px;
                        font-weight: 700;
                        border: none;
                        border-radius: 4px;
                        box-shadow: 0px -5px  white;
                        transition: background-color 0.7s;


                    }
                    button:hover {
                        background-color: $color_blue_light;
                    }
                }

                @media screen and (min-width: 687px) {
                    font-size: 50px;
                    h2 {
                        padding: 15vh 0px 0px 0px;
                    }
                    .btn-cont {
                        padding-top: 10px;
                    }
                }

                @media screen and (min-width: 992px) {
                    font-size: 60px;
                    h2 {
                        padding: 20vh 0px 0px 0px;
                    }
                    .btn-cont {
                        padding-top: 20px;
                    }
                }

                @media screen and (min-width: 1200px) {
                    font-size: 80px;
                    .btn-cont {
                        padding-top: 20px;
                    }
                }

            }
        }
    }

    .fa-angle-left, .fa-angle-right {
        position: absolute;
        color: #878787;
        background-color: #3c4140;
        font-size: 40px;
        padding: 10px 25px;
        cursor: pointer;
        z-index: 10;
        transition: all 0.7s;
    }
    .fa-angle-left {
        bottom: 2.5%;
        left: 25%;
    }
    .fa-angle-right {
        bottom: 2.5%;
        right: 25%;
    }
    .fa-angle-left:hover, .fa-angle-right:hover {
        color: #ffffff;
        background-color: $color_blue_light;
    }

    @media screen and (min-width: 687px) {
        .fa-angle-left {
            bottom: 50%;
            left: 5%;
        }
        .fa-angle-right {
            bottom: 50%;
            right: 5%;
        }
    }

    .home-gallery {
        width: 100%;
        height: auto;

        .home-gallery-item {
            float: left;
            display: inline-block;
            width: 100%;
            height: 300px;
            padding: 80px 10px;
            text-align: center;

            .home-gallery-img-cont {
                width: 100%;
                height: 100px;
            }

            p {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 2vh 0 0 0;
                margin: 0px;
            }
            @media screen and (min-width: 550px) {
                width: 50%;
            }

            @media screen and (min-width: 992px) {
                //height: 350px;
                width: 25%;
            }

        }
        .home-gallery-item:nth-child(odd) {
            color: $color_green_light;
            background-color: #1c2a33;
            border-top: 8px solid $color_green_light;
        }
        .home-gallery-item:nth-child(even) {
            color: #ffffff;
            background-color: $color_green_light;
            border-top: 8px solid #ffffff;
        }
    }
}
//----- HOME section ends -----

//----- SERVICE section starts -----
#service {
    position: relative;
    padding: 110px 0px 150px 0px;
    width: 100%;
    text-align: center;

    .service-menu {
        display: block;
        padding-top: 70px;
        width: 100%;
        height: 100%;
        ul {
            display: block;
            text-align: center;
            padding: 0px;
            width: 100%;
            height: 100%;
            /*one hint!*/
            font-size: 0px;
            li {
                float: left;
                display: inline-block;
                padding: 25px 0;
                width: 100%;
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
                color: #717171;
                cursor: pointer;
                border: 1px solid #eff0f1;
                border-collapse: collapse;
                background-color: #f8fcfe;
                transition: all 0.7s;

                @media screen and (min-width: 420px) {
                    width: 50%;
                }
                @media screen and (min-width: 600px) {
                    width: calc(100% / 3);
                }
                @media screen and (min-width: 992px) {
                    width: calc(100% / 6);
                }
            }
            li:hover {
                color: #ffffff;
                background-color: $color_blue_light;
            }
            .active-service-item {
                position: relative;
                color: #ffffff;
                background-color: $color_green_light;
            }
            .active-service-item::before {
                content: " ";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -10px;
                border: 10px solid transparent;
                border-top-color: $color_green_light;
            }
            .active-service-item:hover:before{
                border-top-color: $color_blue_light;
            }
        }
    }
    .service-item-container {
        display: none;
        padding: 30px 0px;

        img {
            padding: 25px;
        }

        p {
            padding: 10px 25px;
            margin: 0px;
            text-align: justify;
            font-size: 14px;
            font-weight: 400;
            color: #777777;
        }
        @media screen and (min-width: 544px) {
            img {
                padding: 10px;
            }
            //p {
            //    width: 50%;
            //}
        }
    }
    .active-service-item-cont {
        display: block;
    }
}
//----- SERVICE section ends -----

//----- ABOUT section starts -----
#about {
    position: relative;
    padding: 50px 0px;
    width: 100%;
    background-color: #090f14;

    //.container {
    //    padding-left: 0;
    //    margin-left: 0;
    //}

    img {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 0px;
    }

    .about-container {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 5vh 5vw;

        h3 {
            color: #ffffff;
            padding: 50px 0 0 10px;
            text-align: center;

            @media screen and (min-width: 687px) {
                padding: 0 0 0 10px;
                text-align: left;
            }
        }

        .about-menu {
            display: block;
            text-align: center;
            padding: 10vh 0 7vh 0;
            margin: 0;
            width: 100%;
            height: 100%;
            /*one hint!*/
            font-size: 0px;

            @media screen and (min-width: 687px) {
                text-align: left;
            }

            li {
                //float: left;
                display: inline-block;
                padding: 10px 0;
                margin: 0px 7.5px;
                //width: 33.33333333%;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                color: #ffffff;
                cursor: pointer;

            }
            li:hover, .active-about-item {
                border-top: 2px solid $color_green_light;
                color: $color_green_light;
            }
        }
        .about-item-container{
            display: none;
            text-align: center;

            p {
                color: #bebebe;
                font-size: 14px;
                font-weight: 300;
                text-align: center;


                @media screen and (min-width: 687px) {
                    text-align: left;
                }
            }

            .about-history-list {
                padding: 50px 0px;
                margin: 0 ;
                width: 100%;
                text-align: center;
                li {
                    float: none;
                    display: inline-block;
                    width: 51%;
                    margin: 0 auto;
                    text-align: left;
                    list-style: none;
                    background: url("../images/li_marker_img.png") no-repeat left center;
                    padding: 12px 10px 12px 40px;
                    color: #bebebe;
                    font-size: 14px;
                    font-weight: 300;

                    @media screen and (min-width: 687px) {
                        width: 100%;
                        float: left;
                    }

                    @media screen and (min-width: 1200px) {
                        width: 50%;
                        text-align: left;
                    }
                }
                @media screen and (min-width: 992px) {
                    text-align: left;
                }
            }

            .skill-container {
                width: 100%;
                text-align: left;
                border: 1px solid #959595;
                border-radius: 5px;
                margin: 15px 0px;
                .skill-progress {
                    padding: 15px 0 15px 15px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 400;
                    //border: 2px solid #9c5da5;
                    border-radius: 4px;
                    //transition: width 3s;
                }

            }
            .skill-container:nth-child(1){
                .skill-progress{
                    width: 70%;
                    background-color: #9c5da5;
                }
            }
            .skill-container:nth-child(2){
                .skill-progress{
                    width: 80%;
                    background-color: #11b0de;
                }
            }
            .skill-container:nth-child(3){
                .skill-progress{
                    width: 60%;
                    background-color: #d67f7f;
                }
            }
            .skill-container:nth-child(4){
                .skill-progress{
                    width: 90%;
                    background-color: #20bc9d;
                }
            }
            .skill-container:nth-child(5){
                .skill-progress{
                    width: 80%;
                    background-color: #bb8a36;
                }
            }

        }
        .active-about-item-cont {
            display: block;
        }
    }

    @media screen and (min-width: 687px) {
        img {
            width: 50%;
        }
        .about-container {
            width: 50%;
        }
    }


}
//----- ABOUT section ends -----

//----- WORK section starts -----
#work {
    padding: 110px 0px 150px 0px;
    width: 100%;
    text-align: center;
    background-color: #f8fcfe;

    .work-menu {
        display: block;
        text-align: center;
        padding: 70px 0;
        width: 100%;
        height: 100%;
        /*one hint!*/
        font-size: 0px;
        li {
            float: left;
            display: inline-block;
            padding: 25px 0;
            width: 100%;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            color: #717171;
            cursor: pointer;
            border: 1px solid #eff0f1;
            border-collapse: collapse;
            background-color: #ffffff;
            transition: color 0.7s;

            @media screen and (min-width: 420px) {
                width: 50%;
            }
            @media screen and (min-width: 600px) {
                width: calc(100% / 3);
            }
            @media screen and (min-width: 992px) {
                width: calc(100% / 6);
            }
        }
        li:hover {
            color: $color_blue_light;
            border-top: 3px solid $color_blue_light;
        }
        .active-work-item {
            color: $color_green_light;
            border-top: 3px solid $color_green_light;
        }

    }
}
//----- WORK section ends -----

//----- FOOTER starts -----
#footer {
    width: 100%;
    min-height: 100px;
    background-color: #22353f;
    text-align: center;

    .footer-cont {
        //padding: 20px;
        p {
            display: block;
            color: #a5a6a7;
            font-size: 14px;
            font-weight: 300;
            padding: 10px 0px;
            padding-left: 10px;
            margin: 0px;
            span {
                color: $color_green_light;
            }
        }
        a {
            display: block;
            //width: 40px;
            //height: 40px;
            margin: 25px;

            .fa-angle-up {
                display: inline-block;
                color: #ffffff;
                background-color: $color_green_light;
                font-size: 32px;
                padding: 5px 11px;
                cursor: pointer;
                transition: all 0.7s;
            }

            .fa-angle-up:hover {
                background-color: $color_blue_light;
            }
        }

        @media screen and (min-width: 687px) {
            p, a {
                display: inline-block;
            }
        }

    }

}
//----- FOOTER ends -----

