/* ---------------------- FONTS ------------------------------*/
/*font-family: 'Montserrat', sans-serif;*/
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf"); }
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf"); }
/*************************************************************/
* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

/*.verical-align {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: center;
}*/
#header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #44433e;
  z-index: 999; }

.logo-container {
  display: inline-block; }
  .logo-container .logo-button {
    width: 100%;
    height: 100%;
    display: inline-block; }
    .logo-container .logo-button .logo-img {
      display: inline-block;
      width: auto;
      height: auto;
      padding: 16.5px 0px; }

.fa-bars {
  color: #b8b8b8;
  font-size: 40px;
  display: inline-block;
  text-align: center;
  padding: 30px 0px;
  cursor: pointer; }
  @media screen and (min-width: 992px) {
    .fa-bars {
      display: none; } }

.top-menu {
  display: none; }
  .top-menu ul {
    margin: 0;
    padding: 0;
    float: right;
    background-color: #44433e; }
    .top-menu ul li {
      display: block;
      padding: 5px 10px;
      text-align: center; }
      .top-menu ul li a {
        display: inline-block;
        font-weight: 700;
        font-size: 13px;
        height: 100%;
        text-decoration: none;
        text-transform: uppercase;
        color: #b8b8b8; }
      .top-menu ul li .active-section {
        color: #18cfab !important;
        border-bottom: 3px solid #18cfab; }
      .top-menu ul li a:hover {
        color: #18cfab;
        border-bottom: 3px solid #18cfab; }

@media screen and (min-width: 992px) {
  .top-menu {
    display: inline-block; }
    .top-menu ul {
      margin: 0;
      padding: 0;
      line-height: 100px;
      float: right;
      background-color: transparent; }
      .top-menu ul li {
        display: inline-block;
        padding: 0px 7.5px; }
        .top-menu ul li a {
          display: inline-block;
          font-weight: 700;
          font-size: 13px;
          height: 100%;
          text-decoration: none;
          text-transform: uppercase;
          color: #b8b8b8; }
        .top-menu ul li .active-section {
          color: #18cfab !important;
          border-bottom: 3px solid #18cfab; }
        .top-menu ul li a:hover {
          color: #18cfab;
          border-bottom: 3px solid #18cfab; }
      .top-menu ul li:first-child {
        padding-left: 0px; }
      .top-menu ul li:last-child {
        padding-right: 0px; } }
/*.fa-laptop {
    font-size: 100px;
    color: #ffffff;
}

.fa-angle-left {
    font-size: 100px;
    color: #ffffff;
}

.fa-angle-right {
    font-size: 100px;
    color: #ffffff;
    width: 100px;
    height: 100px;
    text-align: center;
}*/

/*# sourceMappingURL=mainStyle.css.map */
