/* ---------------------- FONTS ------------------------------*/
@font-face {
  font-family: Montserrat;
  font-weight: 300;
  src: url("../fonts/montserrat/Montserrat-Light.otf"); }
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf"); }
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf"); }
/*************************************************************/
* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fefefe; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

.verical-align {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.section-header {
  background-color: #2ecc71; }
  .section-header h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 35px 0;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    color: #fff; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 80px;
  background-color: #d2edf5; }
  #header .logo-link {
    display: inline-block;
    position: relative;
    padding: 9px 0;
    text-decoration: none; }
    #header .logo-link .fa-star {
      background-color: #737373;
      color: #fffa29;
      padding: 10px; }
    #header .logo-link span {
      position: relative;
      top: -5px;
      display: inline-block;
      font-weight: 400;
      font-size: 24px;
      text-transform: uppercase;
      color: #737373;
      padding-left: 10px; }
  #header .fa-bars {
    display: inline-block;
    color: #000;
    font-size: 40px;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer; }
  @media screen and (min-width: 768px) {
    #header .fa-bars {
      display: none; } }
  #header .site-navigation {
    display: none;
    position: fixed;
    z-index: 50;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background: #d2edf5 url(../images/lot_0_modify.png) no-repeat left center;
    background-size: cover; }
    #header .site-navigation .main-list {
      margin: 0;
      padding: 50px 0 0 20%;
      /*one hint!*/
      font-size: 0px; }
      #header .site-navigation .main-list li {
        display: block;
        position: relative;
        padding: 5px 30px;
        text-align: center; }
        #header .site-navigation .main-list li a {
          display: block;
          font-size: 24px;
          width: 100%;
          height: 100%;
          padding: 10px 0;
          text-decoration: none;
          text-transform: uppercase;
          text-align: left;
          color: #000;
          transition: all 0.5s; }
        #header .site-navigation .main-list li a:hover, #header .site-navigation .main-list li .active-section {
          color: #2ecc71; }
        #header .site-navigation .main-list li .dropdown-list {
          display: block;
          width: 100%;
          padding-left: 10px; }
          #header .site-navigation .main-list li .dropdown-list li {
            display: block;
            border: none;
            padding-left: 20px; }
            #header .site-navigation .main-list li .dropdown-list li a {
              display: block;
              width: 100%;
              text-transform: capitalize;
              font-size: 18px;
              padding-top: 10px;
              padding-bottom: 10px;
              transition: all 0.5s; }
            #header .site-navigation .main-list li .dropdown-list li a:hover, #header .site-navigation .main-list li .dropdown-list li .active-sub-menu {
              color: #fd0200; }
  @media screen and (min-width: 768px) {
    #header .site-navigation {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      margin: 26.5px 0;
      text-align: center;
      background: transparent; }
      #header .site-navigation .main-list {
        background-color: transparent;
        padding: 0;
        margin: 0; }
        #header .site-navigation .main-list li {
          display: inline-block;
          position: relative;
          padding: 0;
          border-right: 1px solid grey; }
          #header .site-navigation .main-list li a {
            display: inline-block;
            padding: 0 20px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            color: grey; }
          #header .site-navigation .main-list li a:hover, #header .site-navigation .main-list li .active-section {
            color: #2ecc71; }
        #header .site-navigation .main-list .dropdown-list-cont .dropdown-list {
          display: none;
          position: absolute;
          width: 100%;
          top: 100%;
          left: 0;
          padding: 0;
          background-color: #d2edf5; }
          #header .site-navigation .main-list .dropdown-list-cont .dropdown-list li {
            padding: 0; }
            #header .site-navigation .main-list .dropdown-list-cont .dropdown-list li a {
              padding: 5px 0;
              margin: 0;
              text-align: center;
              font-size: 16px; }
        #header .site-navigation .main-list li:first-child {
          padding-left: 0; }
        #header .site-navigation .main-list li:last-child {
          border-right: none; } }

#home {
  padding-top: 80px;
  position: relative;
  width: 100%; }
  #home .log-in-div {
    background-color: #2ecc71;
    padding: 42px 0px; }
    #home .log-in-div p {
      display: block;
      margin-bottom: 0;
      padding-top: 0;
      font-size: 30px;
      font-weight: normal;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center; }
      @media screen and (min-width: 768px) {
        #home .log-in-div p {
          text-align: left;
          padding-top: 50px; } }
      @media screen and (min-width: 992px) {
        #home .log-in-div p {
          padding-top: 35px; } }
    #home .log-in-div .log-in-form {
      display: block; }
      #home .log-in-div .log-in-form input[type="text"], #home .log-in-div .log-in-form input[type="password"] {
        display: block;
        width: 50%;
        margin: 10px auto;
        background-color: transparent;
        color: #ffffff;
        border: none;
        outline: none;
        border-bottom: 2px solid white;
        text-align: center; }
        @media screen and (min-width: 768px) {
          #home .log-in-div .log-in-form input[type="text"], #home .log-in-div .log-in-form input[type="password"] {
            width: 50%; } }
        @media screen and (min-width: 992px) {
          #home .log-in-div .log-in-form input[type="text"], #home .log-in-div .log-in-form input[type="password"] {
            width: 100%; } }
      #home .log-in-div .log-in-form input::-moz-placeholder {
        color: #ffffff;
        opacity: 1; }
      #home .log-in-div .log-in-form input::-webkit-input-placeholder {
        color: #ffffff;
        opacity: 1; }
      #home .log-in-div .log-in-form input:-ms-input-placeholder {
        color: #ffffff;
        opacity: 1; }
      #home .log-in-div .log-in-form .log-in-controls {
        text-align: center; }
        #home .log-in-div .log-in-form .log-in-controls .log-in-btn {
          display: inline-block;
          margin: 15px;
          width: 100px;
          padding: 10px 0;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          background-color: #ffffff;
          color: #2ecc71;
          border: none;
          outline: none;
          transition: all 0.7s; }
        #home .log-in-div .log-in-form .log-in-controls .log-in-btn:hover {
          background-color: #00bbf5;
          color: #ffffff; }
  #home .slider-cont {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #747474;
    overflow-x: hidden; }
    #home .slider-cont .slider {
      position: relative;
      width: 400%;
      height: calc(100vh - 80px);
      text-align: center;
      margin: 0px;
      padding: 0px;
      list-style-type: none; }
      #home .slider-cont .slider li {
        position: absolute;
        top: 0;
        display: inline-block;
        float: left;
        width: calc(100% / 4);
        height: calc(100vh - 80px);
        font-size: 35px;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover; }
        #home .slider-cont .slider li .slider-dark-mask {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: rgba(60, 60, 60, 0.5); }
          #home .slider-cont .slider li .slider-dark-mask h1, #home .slider-cont .slider li .slider-dark-mask h2, #home .slider-cont .slider li .slider-dark-mask p {
            color: #ffffff; }
          #home .slider-cont .slider li .slider-dark-mask h1 {
            font-size: 1em;
            font-weight: 700;
            margin: 2vh; }
          #home .slider-cont .slider li .slider-dark-mask h2 {
            font-size: 0.5em;
            font-weight: 700;
            padding-top: 5vh;
            margin-bottom: 0px; }
            #home .slider-cont .slider li .slider-dark-mask h2 span {
              color: #2ecc71; }
          #home .slider-cont .slider li .slider-dark-mask p {
            font-size: 0.4em;
            font-weight: 300;
            margin: 0;
            padding-bottom: 2vh; }
            @media screen and (min-height: 600px) {
              #home .slider-cont .slider li .slider-dark-mask p {
                padding-bottom: 3vh; } }
          @media screen and (min-width: 420px) {
            #home .slider-cont .slider li .slider-dark-mask h2 {
              padding-top: 10vh; } }
          @media screen and (min-width: 687px) {
            #home .slider-cont .slider li .slider-dark-mask {
              font-size: 50px; }
              #home .slider-cont .slider li .slider-dark-mask h2 {
                padding-top: 15vh; }
              #home .slider-cont .slider li .slider-dark-mask .btn-cont {
                padding-top: 10px; } }
          @media screen and (min-width: 992px) {
            #home .slider-cont .slider li .slider-dark-mask {
              font-size: 60px; }
              #home .slider-cont .slider li .slider-dark-mask h2 {
                padding-top: 20vh; }
              #home .slider-cont .slider li .slider-dark-mask .btn-cont {
                padding-top: 20px; } }
          @media screen and (min-width: 1200px) {
            #home .slider-cont .slider li .slider-dark-mask {
              font-size: 80px; }
              #home .slider-cont .slider li .slider-dark-mask .btn-cont {
                padding-top: 20px; } }
      #home .slider-cont .slider li:nth-child(1) {
        left: -25%;
        background-image: url(../images/slide_1.jpg); }
      #home .slider-cont .slider li:nth-child(2) {
        left: 0;
        background-image: url(../images/slide_2.jpg); }
      #home .slider-cont .slider li:nth-child(3) {
        left: 25%;
        background-image: url(../images/slide_3.jpg); }
  #home .fa-angle-left, #home .fa-angle-right {
    position: absolute;
    color: #878787;
    background-color: #3c4140;
    font-size: 30px;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.7s; }
    @media screen and (min-height: 550px) {
      #home .fa-angle-left, #home .fa-angle-right {
        font-size: 40px;
        padding: 10px 25px; } }
  #home .fa-angle-left {
    bottom: 2.5%;
    left: 7.5%; }
  #home .fa-angle-right {
    bottom: 2.5%;
    right: 7.5%; }
  #home .fa-angle-left:hover, #home .fa-angle-right:hover {
    color: #ffffff;
    background-color: #2ecc71; }
  @media screen and (min-height: 480px) {
    #home .fa-angle-left {
      bottom: 2.5%;
      left: 25%; }
    #home .fa-angle-right {
      bottom: 2.5%;
      right: 25%; } }
  @media screen and (min-width: 687px) {
    #home .fa-angle-left {
      bottom: 50%;
      left: 5%; }
    #home .fa-angle-right {
      bottom: 50%;
      right: 5%; } }
  #home .portfolio .portfolio-navigation {
    display: block;
    text-align: center;
    padding: 50px 0 0 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /*one hint!*/
    font-size: 0px; }
    #home .portfolio .portfolio-navigation li {
      display: inline-block;
      padding: 25px 0;
      width: 50%;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      color: #717171;
      cursor: pointer;
      border: 1px solid #eff0f1;
      border-collapse: collapse;
      background-color: #ffffff;
      transition: color 0.7s; }
      @media screen and (min-width: 470px) {
        #home .portfolio .portfolio-navigation li {
          width: calc(100% / 3); } }
      @media screen and (min-width: 687px) {
        #home .portfolio .portfolio-navigation li {
          width: calc(100% / 4); } }
      @media screen and (min-width: 992px) {
        #home .portfolio .portfolio-navigation li {
          width: calc(100% / 6); } }
    #home .portfolio .portfolio-navigation li:hover, #home .portfolio .portfolio-navigation .active-portfolio-category {
      color: #00bbf5;
      border-top: 3px solid #00bbf5; }
  #home .portfolio .portfolio-gallery {
    width: 100%;
    padding-top: 50px; }
    #home .portfolio .portfolio-gallery .portfolio-gallery-item {
      display: inline-block;
      position: relative;
      background-color: #07bcd4;
      background-size: cover;
      width: 100%;
      float: left;
      border: 0px;
      padding: 0px;
      margin: 0px; }
      @media screen and (min-width: 400px) {
        #home .portfolio .portfolio-gallery .portfolio-gallery-item {
          width: 50%; } }
      @media screen and (min-width: 687px) {
        #home .portfolio .portfolio-gallery .portfolio-gallery-item {
          width: calc(100% / 3); } }
      @media screen and (min-width: 992px) {
        #home .portfolio .portfolio-gallery .portfolio-gallery-item {
          width: 25%; } }
      #home .portfolio .portfolio-gallery .portfolio-gallery-item img {
        max-width: 100%;
        height: auto;
        width: auto \9 ;
        /* ie8 */ }
      #home .portfolio .portfolio-gallery .portfolio-gallery-item .portfolio-hover-layer {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(248, 252, 254, 0.9);
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.7s; }
        #home .portfolio .portfolio-gallery .portfolio-gallery-item .portfolio-hover-layer .portfolio-img-name {
          display: block;
          margin-top: 30%;
          margin-bottom: 5px;
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          color: #2ecc71; }
        #home .portfolio .portfolio-gallery .portfolio-gallery-item .portfolio-hover-layer .portfolio-img-category {
          display: block;
          font-size: 16px;
          font-weight: 300;
          text-transform: capitalize;
          text-align: center;
          color: #8a8a8a; }
      #home .portfolio .portfolio-gallery .portfolio-gallery-item .portfolio-hover-layer:hover {
        opacity: 1; }

.extend-item-viewer-cont, #auction .auction-item-viewer-cont, #auction .add-item-viewer-cont {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 155, 230, 0.5);
  text-align: center; }

.extend-item-viewer, #auction .auction-item-viewer-cont .auction-item-viewer, #auction .add-item-viewer-cont .add-item-viewer {
  position: relative;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #f9ebeb;
  border: 2px solid grey;
  border-radius: 15px;
  overflow-y: auto; }

.extend-close-btn, #auction .auction-item-viewer-cont .auction-item-viewer .close-btn, #auction .add-item-viewer-cont .add-item-viewer .close-btn {
  position: absolute;
  z-index: 101;
  top: 0%;
  right: 0%;
  padding: 10px;
  cursor: pointer;
  color: grey;
  transition: all 0.7s; }

.extend-submit-btn, #auction .auction-item-viewer-cont .auction-item-viewer .right-side .auction-form .buy-btn, #auction .add-item-viewer-cont .add-item-viewer .add-item-form .add-btn {
  display: inline-block;
  margin-top: 5px;
  padding: 10px 25px;
  font-size: 16px;
  color: #fff;
  background-color: #00bbf5;
  border: none;
  border-radius: 5px;
  transition: all 0.5s; }

#auction {
  padding-bottom: 30px;
  background-color: #f8fcfe; }
  #auction .section-header {
    margin-bottom: 30px; }
  #auction .auction-nav {
    padding: 0; }
    #auction .auction-nav h4 {
      color: #fff;
      background-color: #00bbf5;
      text-transform: uppercase;
      padding: 10px 0;
      margin: 0;
      border: 1px solid #eff0f1;
      border-top: none; }
    #auction .auction-nav .main-menu {
      padding: 0;
      margin: 0; }
      #auction .auction-nav .main-menu li {
        list-style: none;
        font-size: 16px;
        text-transform: uppercase;
        padding: 5px 10px;
        border: 1px solid #eff0f1;
        cursor: pointer;
        color: #717171;
        background-color: #fff;
        transition: all 0.7s; }
      #auction .auction-nav .main-menu li:hover, #auction .auction-nav .main-menu .active-auction-category {
        color: #fff;
        background-color: #2ecc71; }
  #auction .auction-container .auction-search {
    position: relative;
    margin-top: 20px; }
    @media screen and (min-width: 768px) {
      #auction .auction-container .auction-search {
        margin-top: 0; } }
    #auction .auction-container .auction-search input {
      display: inline-block;
      width: 100%;
      height: 40px;
      padding-left: 5px;
      color: #8a8888;
      border: 1px solid #8a8888;
      outline: none;
      margin-bottom: 20px; }
    #auction .auction-container .auction-search input::-moz-placeholder {
      color: #9fb9c6; }
    #auction .auction-container .auction-search input::-webkit-input-placeholder {
      color: #9fb9c6; }
    #auction .auction-container .auction-search input:-ms-input-placeholder {
      color: #9fb9c6; }
    #auction .auction-container .auction-search .fa-search {
      position: absolute;
      top: 0%;
      right: 0%;
      padding: 6px 10px;
      cursor: pointer;
      color: #fff;
      background-color: #00bbf5;
      transition: all 0.7s; }
    #auction .auction-container .auction-search .fa-search:hover {
      background-color: #2ecc71; }
  #auction .auction-container .auction-item-cont {
    display: block; }
    #auction .auction-container .auction-item-cont .auction-item {
      margin: 15px 0;
      border: 1px solid #00bbf5;
      cursor: pointer; }
      #auction .auction-container .auction-item-cont .auction-item .auction-img {
        width: 100%; }
      #auction .auction-container .auction-item-cont .auction-item .auction-title {
        padding: 10px;
        margin: 0;
        text-align: center;
        color: #fff;
        background-color: #2ecc71;
        font-size: 18px; }
      #auction .auction-container .auction-item-cont .auction-item .auction-price {
        margin: 0;
        text-align: center;
        font-size: 24px;
        color: #000;
        background-color: #ba1e1e; }
  #auction .auction-container .pagination {
    display: block;
    text-align: center;
    margin-bottom: 30px; }
    #auction .auction-container .pagination .pagination-btn {
      font-size: 16px;
      font-weight: 300;
      color: #fff;
      background-color: #00bbf5;
      outline: none;
      border: none;
      padding: 5px 10px;
      margin: 0 2px;
      transition: all 0.5s; }
    #auction .auction-container .pagination .active-pagination {
      background-color: #2ecc71;
      margin: 0 4px; }
    #auction .auction-container .pagination .pagination-btn:hover {
      background-color: #2ecc71; }
  #auction .auction-item-viewer-cont .auction-item-viewer .close-btn:hover {
    color: #000; }
  #auction .auction-item-viewer-cont .auction-item-viewer .left-side {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%; }
    #auction .auction-item-viewer-cont .auction-item-viewer .left-side img {
      display: none;
      width: 100%;
      border: 1px solid #00bbf5; }
    @media screen and (min-width: 700px) {
      #auction .auction-item-viewer-cont .auction-item-viewer .left-side {
        top: 15%;
        left: 10%;
        width: 40%; }
        #auction .auction-item-viewer-cont .auction-item-viewer .left-side img {
          display: block; } }
  #auction .auction-item-viewer-cont .auction-item-viewer .right-side {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 90%; }
    @media screen and (min-width: 700px) {
      #auction .auction-item-viewer-cont .auction-item-viewer .right-side {
        top: 15%;
        right: 5%;
        width: 40%; } }
    #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-id, #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-title, #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-price, #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-date-sell {
      font-size: 16px;
      color: #000;
      margin-bottom: 5px; }
      @media screen and (min-width: 700px) {
        #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-id, #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-title, #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-price, #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-date-sell {
          font-size: 18px;
          margin-bottom: 15px; } }
    #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-price .value {
      padding-left: 10px;
      font-size: 20px;
      color: red; }
      @media screen and (min-width: 700px) {
        #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-price .value {
          font-size: 24px; } }
    #auction .auction-item-viewer-cont .auction-item-viewer .right-side .item-date-sell .value {
      padding-left: 10px;
      color: green; }
    #auction .auction-item-viewer-cont .auction-item-viewer .right-side .auction-form {
      margin-top: 20px; }
      #auction .auction-item-viewer-cont .auction-item-viewer .right-side .auction-form .input-name, #auction .auction-item-viewer-cont .auction-item-viewer .right-side .auction-form .input-phone, #auction .auction-item-viewer-cont .auction-item-viewer .right-side .auction-form .input-price {
        display: block;
        width: 200px;
        margin: 10px auto;
        padding: 5px 10px;
        border: 1px solid #8a8888;
        outline: none; }
      #auction .auction-item-viewer-cont .auction-item-viewer .right-side .auction-form .error-border {
        border: 2px solid red; }
      #auction .auction-item-viewer-cont .auction-item-viewer .right-side .auction-form .buy-btn:hover {
        background-color: #2ecc71; }
  #auction .add-new-lot {
    width: 250px;
    height: 200px;
    margin: 0 auto;
    background-color: #00bbf5;
    cursor: pointer;
    text-align: center; }
    #auction .add-new-lot .my-plus {
      display: inline-block;
      color: #fff;
      margin: 30px;
      transition: all 0.5s; }
    @media screen and (min-width: 400px) {
      #auction .add-new-lot {
        width: 300px;
        height: 250px; }
        #auction .add-new-lot .my-plus {
          margin: 55px; } }
  #auction .add-new-lot:hover .my-plus {
    color: yellow; }
  #auction .add-item-viewer-cont .add-item-viewer .close-btn:hover {
    color: #000; }
  #auction .add-item-viewer-cont .add-item-viewer .add-item-form {
    width: 90%;
    position: relative;
    top: 12%;
    left: 5%;
    text-align: center;
    /*input[type="file"] {
    	display: block;
    	width: 100%;
    	margin: 10px 0;
    	color: red;
    	font-size: 16px;
    }*/ }
    @media screen and (min-width: 600px) {
      #auction .add-item-viewer-cont .add-item-viewer .add-item-form {
        width: 50%;
        left: 25%; } }
    #auction .add-item-viewer-cont .add-item-viewer .add-item-form input[type="text"], #auction .add-item-viewer-cont .add-item-viewer .add-item-form input[type="number"], #auction .add-item-viewer-cont .add-item-viewer .add-item-form textarea, #auction .add-item-viewer-cont .add-item-viewer .add-item-form .item-category, #auction .add-item-viewer-cont .add-item-viewer .add-item-form .item-image-url {
      display: block;
      width: 100%;
      margin: 5px 0;
      padding: 5px;
      text-align: center;
      font-size: 16px; }
      @media screen and (min-width: 600px) {
        #auction .add-item-viewer-cont .add-item-viewer .add-item-form input[type="text"], #auction .add-item-viewer-cont .add-item-viewer .add-item-form input[type="number"], #auction .add-item-viewer-cont .add-item-viewer .add-item-form textarea, #auction .add-item-viewer-cont .add-item-viewer .add-item-form .item-category, #auction .add-item-viewer-cont .add-item-viewer .add-item-form .item-image-url {
          font-size: 18px;
          margin: 10px 0;
          padding: 10px 15px; } }
    #auction .add-item-viewer-cont .add-item-viewer .add-item-form .item-category {
      color: #000;
      text-align-last: center; }
    #auction .add-item-viewer-cont .add-item-viewer .add-item-form .add-btn:hover {
      background-color: #2ecc71; }

#contact {
  padding: 0px 0px 100px 0px;
  width: 100%;
  text-align: center;
  background-color: #f8fcfe; }
  #contact .map-cont {
    padding-left: 0;
    padding-right: 0; }
    #contact .map-cont iframe {
      pointer-events: none;
      width: 100%;
      height: calc(100vh - 100px);
      background-color: grey;
      border: none; }
    @media screen and (min-width: 768px) {
      #contact .map-cont {
        padding-right: 15px; } }
  #contact .social-btns-cont {
    padding: 15px 0;
    text-align: center; }
    #contact .social-btns-cont a {
      display: inline-block;
      border: 5px solid grey;
      border-radius: 50%;
      color: grey;
      margin: 5px;
      text-align: center;
      text-decoration: none;
      transition: all 0.7s; }
      #contact .social-btns-cont a .fa {
        padding: 5px 2px;
        width: 40px;
        height: 40px; }
    #contact .social-btns-cont a:hover {
      border: 5px solid #00bbf5;
      color: #00bbf5; }
    @media screen and (min-width: 768px) {
      #contact .social-btns-cont {
        padding: 30px 0; } }
  #contact .form-cont .input-contact-content .inputs-container {
    padding: 40px 0 0 0; }
    @media screen and (min-width: 768px) {
      #contact .form-cont .input-contact-content .inputs-container {
        padding: 85px 0 0 0; } }
    #contact .form-cont .input-contact-content .inputs-container h3 {
      font-size: 24px;
      color: #8a8888; }
    #contact .form-cont .input-contact-content .inputs-container .input-name, #contact .form-cont .input-contact-content .inputs-container .input-email, #contact .form-cont .input-contact-content .inputs-container .input-text {
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      color: #000;
      background-color: #ffffff;
      border: 2px solid #8a8888;
      outline: none;
      padding: 15px 10px;
      margin: 10px 0px;
      text-align: left; }
    #contact .form-cont .input-contact-content .inputs-container input::-moz-placeholder {
      color: #9fb9c6; }
    #contact .form-cont .input-contact-content .inputs-container input::-webkit-input-placeholder {
      color: #9fb9c6; }
    #contact .form-cont .input-contact-content .inputs-container input:-ms-input-placeholder {
      color: #9fb9c6; }
    #contact .form-cont .input-contact-content .inputs-container .input-name-error, #contact .form-cont .input-contact-content .inputs-container .input-email-error, #contact .form-cont .input-contact-content .inputs-container .input-text-error {
      display: none;
      padding: 0px 20px;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      color: red;
      background-color: transparent;
      text-align: left; }
    #contact .form-cont .input-contact-content .inputs-container .submit-btn {
      outline: none;
      width: 100%;
      height: 60px;
      color: #ffffff;
      background-color: #2ecc71;
      border: none;
      border-radius: 5px;
      transition: background-color 0.7s;
      margin-top: 10px; }
    #contact .form-cont .input-contact-content .inputs-container .submit-btn:enabled:hover {
      background-color: #00bbf5; }
    #contact .form-cont .input-contact-content .inputs-container .submit-btn:disabled {
      opacity: 0.7; }

#footer {
  width: 100%;
  min-height: 100px;
  background-color: #22353f;
  text-align: center; }
  #footer .footer-cont p {
    display: block;
    color: #a5a6a7;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0px;
    padding-left: 10px;
    margin: 0px; }
    #footer .footer-cont p span {
      color: #2ecc71; }
  #footer .footer-cont a {
    display: block;
    margin: 25px; }
    #footer .footer-cont a .fa-angle-up {
      display: inline-block;
      color: #ffffff;
      background-color: #2ecc71;
      font-size: 32px;
      padding: 5px 11px;
      cursor: pointer;
      transition: all 0.7s; }
    #footer .footer-cont a .fa-angle-up:hover {
      background-color: #00bbf5; }
  @media screen and (min-width: 687px) {
    #footer .footer-cont p, #footer .footer-cont a {
      display: inline-block; } }

/*# sourceMappingURL=mainStyle.css.map */
