$color_green_light: #2ecc71;
$color_blue_light: #00bbf5;
$color_grey: grey;

$header_height: 80px;

/* ---------------------- FONTS ------------------------------*/

@font-face {
	font-family: Montserrat;
	font-weight: 300;
	src: url("../fonts/montserrat/Montserrat-Light.otf");
}

@font-face {
	font-family: Montserrat;
	font-weight: 400;
	src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
	font-family: Montserrat;
	font-weight: 700;
	src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

/*************************************************************/

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%; // TO AVOID HORIZONTAL SCROLLING !!!
	background-color: #fefefe;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #000;
	//overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

//  extra general classes (may be used in @extend)
.verical-align {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.section-header {
	background-color: $color_green_light;
	h3 {
		text-align: center;
		text-transform: uppercase;
		padding: 35px 0;
		margin: 0;
		font-size: 30px;
		font-weight: 400;
		color: #fff;
	}
}

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100500;
	width: 100%;
	height: 100%;
	overflow: visible;
	/*//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif'*/
	/*https://cdnjs.cloudflare.com/ajax/libs/file-uploader/5.11.8/all.fine-uploader/loading.gif*/
	background: #ffffff url('../images/spinner.gif') no-repeat center center;
}

//**************** SECTION HEADER starts *****************
#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: $header_height;
	background-color: #d2edf5;

	.logo-link {
		display: inline-block;
		position: relative;
		padding: 9px 0;
		text-decoration: none;

		.fa-star {
			background-color: #737373;
			color: #fffa29;
			padding: 10px;
		}
		span {
			position: relative;
			top: -5px;
			display: inline-block;
			font-weight: 400;
			font-size: 24px;
			text-transform: uppercase;
			color: #737373;
			padding-left: 10px;
		}
	}

	.fa-bars {
		display: inline-block;
		color: #000;
		font-size: 40px;
		text-align: center;
		padding: 20px 0px;
		cursor: pointer;
	}
	@media screen and (min-width: 768px) {
		.fa-bars {
			display: none;
		}
	}
	// ************** mobile view of navigation ***************
	.site-navigation {
		display: none;
		position: fixed;
		z-index: 50;
		top: $header_height;
		left: 0;
		width: 100%;
		height: calc(100vh - 80px);
		background: #d2edf5 url(../images/lot_0_modify.png) no-repeat left center;
		background-size: cover;

		.main-list {
			margin: 0;
			padding: 50px 0 0 20%;
			//background-color: #d2edf5;
			/*one hint!*/
			font-size: 0px;
			li {
				display: block;
				position: relative;
				padding: 5px 30px;
				text-align: center;
				a {
					display: block;
					//font-weight: 700;
					font-size: 24px;
					width: 100%;
					height: 100%;
					padding: 10px 0;
					//margin: 0 auto;
					text-decoration: none;
					text-transform: uppercase;
					text-align: left;
					color: #000;
					transition: all 0.5s;
				}
				a:hover, .active-section {
					color: $color_green_light;
				}

				.dropdown-list {
					display: block;
					width: 100%;
					padding-left: 10px;

					li {
						display: block;
						border: none;
						padding-left: 20px;

						a {
							display: block;
							width: 100%;
							text-transform: capitalize;
							font-size: 18px;
							padding-top: 10px;
							padding-bottom: 10px;
							transition: all 0.5s;
						}
						a:hover, .active-sub-menu {
							color: #fd0200;
						}
					}
				}
			}
		}
	}
	// ************** end of mobile view of navigation ***************

	// ************** desktop view of navigation ***************
	@media screen and (min-width: 768px) {
		.site-navigation {
			display: block;
			position: relative;
			top: 0;
			left: 0;
			height: 100%;
			margin: 26.5px 0;
			text-align: center;
			background: transparent;

			.main-list {
				background-color: transparent;
				padding: 0;
				margin: 0;
				//line-height: $header_height;
				li {
					display: inline-block;
					position: relative;
					padding: 0;
					border-right: 1px solid $color_grey;
					a {
						display: inline-block;
						padding: 0 20px;
						text-decoration: none;
						text-transform: uppercase;
						font-size: 18px;
						color: $color_grey;
					}
					a:hover, .active-section {
						color: $color_green_light;
					}
				}

				.dropdown-list-cont {
					.dropdown-list {
						display: none;
						position: absolute;
						width: 100%;
						top: 100%;
						left: 0;
						padding: 0;
						background-color: #d2edf5;

						li {
							padding: 0;
							a {
								padding: 5px 0;
								margin: 0;
								text-align: center;
								font-size: 16px;
							}
						}
					}
				}

				li:first-child {
					padding-left: 0;
				}
				li:last-child {
					border-right: none;
				}
			}
		}
	}
	// ************** end of desktop view of navigation ***************
}

//**************** SECTION HEADER ends *****************

//----- HOME section starts -----
#home {
	padding-top: $header_height;
	position: relative;
	width: 100%;

	//**************** SECTION REGISTRATION starts *****************
	.log-in-div {
		//min-height: 100px;
		background-color: $color_green_light;
		padding: 42px 0px;

		p {
			display: block;
			margin-bottom: 0;
			padding-top: 0;
			font-size: 30px;
			font-weight: normal;
			text-transform: uppercase;
			color: #ffffff;
			text-align: center;

			@media screen and (min-width: 768px) {
				text-align: left;
				padding-top: 50px;
			}
			@media screen and (min-width: 992px) {
				padding-top: 35px;
			}
		}

		.log-in-form {
			display: block;
			input[type="text"], input[type="password"] {
				display: block;
				width: 50%;
				margin: 10px auto;
				background-color: transparent;
				color: #ffffff;
				border: none;
				outline: none;
				border-bottom: 2px solid white;
				text-align: center;

				@media screen and (min-width: 768px) {
					width: 50%;
				}

				@media screen and (min-width: 992px) {
					width: 100%;
				}
			}

			input::-moz-placeholder {
				color: #ffffff;
				opacity: 1;
			}
			input::-webkit-input-placeholder {
				color: #ffffff;
				opacity: 1;
			}
			input:-ms-input-placeholder {
				color: #ffffff;
				opacity: 1;
			}

			.log-in-controls {
				text-align: center;
				.log-in-btn {
					display: inline-block;
					margin: 15px;
					width: 100px;
					padding: 10px 0;
					font-size: 14px;
					font-weight: bold;
					text-transform: uppercase;
					background-color: #ffffff;
					color: $color_green_light;
					border: none;
					outline: none;
					transition: all 0.7s;
				}
				.log-in-btn:hover {
					background-color: $color_blue_light;
					color: #ffffff;
				}
			}
		}
	}
	//**************** SECTION REGISTRATION ends *****************

	.slider-cont {
		position: relative;
		width: 100%;
		height: calc(100vh - 80px);
		background-color: #747474;
		overflow-x: hidden;

		.slider {
			position: relative;
			width: 400%;
			height: calc(100vh - 80px);
			text-align: center;

			margin: 0px;
			padding: 0px;
			list-style-type: none;

			li {
				position: absolute;
				top: 0;
				display: inline-block;
				float: left;
				width: calc(100% / 4);
				height: calc(100vh - 80px);
				font-size: 35px;

				background-repeat: no-repeat;
				background-position: center top;
				background-size: cover;

				.slider-dark-mask {
					position: relative;
					width: 100%;
					height: 100%;
					background-color: rgba(60, 60, 60, 0.5);

					h1, h2, p {
						color: #ffffff;
					}
					h1 {
						font-size: 1em;
						font-weight: 700;
						margin: 2vh;
					}
					h2 {
						font-size: 0.5em;
						font-weight: 700;
						padding-top: 5vh;
						margin-bottom: 0px;
						span {
							color: $color_green_light;
						}

					}
					p {
						font-size: 0.4em;
						font-weight: 300;
						margin: 0;
						padding-bottom: 2vh;

						@media screen and (min-height: 600px) {
							padding-bottom: 3vh;
						}
					}

					@media screen and (min-width: 420px) {
						h2 {
							padding-top: 10vh;
						}
					}

					@media screen and (min-width: 687px) {
						font-size: 50px;
						h2 {
							padding-top: 15vh;
						}
						.btn-cont {
							padding-top: 10px;
						}
					}

					@media screen and (min-width: 992px) {
						font-size: 60px;
						h2 {
							padding-top: 20vh;
						}
						.btn-cont {
							padding-top: 20px;
						}
					}

					@media screen and (min-width: 1200px) {
						font-size: 80px;
						.btn-cont {
							padding-top: 20px;
						}
					}
				}
			}
			li:nth-child(1) {
				left: (-100% / 4);
				background-image: url(../images/slide_1.jpg);
			}
			li:nth-child(2) {
				left: 0;
				background-image: url(../images/slide_2.jpg);
			}
			li:nth-child(3) {
				left: (100% / 4);
				background-image: url(../images/slide_3.jpg);
			}
		}
	}

	.fa-angle-left, .fa-angle-right {
		position: absolute;
		color: #878787;
		background-color: #3c4140;
		font-size: 30px;
		padding: 5px 15px;
		cursor: pointer;
		z-index: 10;
		transition: all 0.7s;

		@media screen and (min-height: 550px) {
			font-size: 40px;
			padding: 10px 25px;
		}
	}
	.fa-angle-left {
		bottom: 2.5%;
		left: 7.5%;
	}
	.fa-angle-right {
		bottom: 2.5%;
		right: 7.5%;
	}
	.fa-angle-left:hover, .fa-angle-right:hover {
		color: #ffffff;
		background-color: $color_green_light;
	}

	@media screen and (min-height: 480px) {
		.fa-angle-left {
			bottom: 2.5%;
			left: 25%;
		}
		.fa-angle-right {
			bottom: 2.5%;
			right: 25%;
		}
	}

	@media screen and (min-width: 687px) {
		.fa-angle-left {
			bottom: 50%;
			left: 5%;
		}
		.fa-angle-right {
			bottom: 50%;
			right: 5%;
		}
	}

	//***********************************
	// PORTFOLIO SECTION starts
	.portfolio {
		.portfolio-navigation {
			display: block;
			text-align: center;
			padding: 50px 0 0 0;
			margin: 0;
			width: 100%;
			height: 100%;
			/*one hint!*/
			font-size: 0px;
			li {
				display: inline-block;
				padding: 25px 0;
				width: 50%;
				text-decoration: none;
				font-size: 16px;
				font-weight: 400;
				color: #717171;
				cursor: pointer;
				border: 1px solid #eff0f1;
				border-collapse: collapse;
				background-color: #ffffff;
				transition: color 0.7s;

				@media screen and (min-width: 470px) {
					width: calc(100% / 3);
				}
				@media screen and (min-width: 687px) {
					width: calc(100% / 4);
				}
				@media screen and (min-width: 992px) {
					width: calc(100% / 6);
				}
			}
			li:hover, .active-portfolio-category {
				color: $color_blue_light;
				border-top: 3px solid $color_blue_light;
			}
		}

		.portfolio-gallery {
			width: 100%;
			padding-top: 50px;

			.portfolio-gallery-item {
				display: inline-block;
				position: relative;
				background-color: #07bcd4;
				background-size: cover;
				width: 100%;
				float: left;
				border: 0px;
				padding: 0px;
				margin: 0px;

				@media screen and (min-width: 400px) {
					width: 50%;
				}

				@media screen and (min-width: 687px) {
					width: calc(100% / 3);
				}

				@media screen and (min-width: 992px) {
					width: 25%;
				}

				img {
					//width: 100%;
					max-width: 100%;
					height: auto;
					width: auto \9; /* ie8 */
				}

				.portfolio-hover-layer {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					background-color: rgba(248, 252, 254, 0.9);
					cursor: pointer;
					opacity: 0;
					transition: opacity 0.7s;

					.portfolio-img-name {
						display: block;
						margin-top: 30%;
						margin-bottom: 5px;
						font-size: 20px;
						font-weight: 700;
						text-transform: uppercase;
						text-align: center;
						color: $color_green_light;
					}

					.portfolio-img-category {
						display: block;
						font-size: 16px;
						font-weight: 300;
						text-transform: capitalize;
						text-align: center;
						color: #8a8a8a;
					}

				}
				.portfolio-hover-layer:hover {
					opacity: 1;
				}
			}
		}

	}
	// PORTFOLIO SECTION ends
}

//----- HOME section ends -----

//********   SECTION "AUCTION" STARTS   **********
//  simulated classes: used in @extend
.extend-item-viewer-cont {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(16, 155, 230, 0.5);
	text-align: center;
}

.extend-item-viewer {
	position: relative;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-color: #f9ebeb;
	border: 2px solid $color_grey;
	border-radius: 15px;
	overflow-y: auto;
}

.extend-close-btn {
	position: absolute;
	z-index: 101;
	top: 0%;
	right: 0%;
	padding: 10px;
	cursor: pointer;
	color: $color_grey;
	transition: all 0.7s;
}

.extend-submit-btn {
	display: inline-block;
	margin-top: 5px;
	padding: 10px 25px;
	font-size: 16px;
	color: #fff;
	background-color: $color_blue_light;
	border: none;
	border-radius: 5px;
	transition: all 0.5s;
}

// main part of auction section
#auction {
	padding-bottom: 30px;
	background-color: #f8fcfe;

	.section-header {
		margin-bottom: 30px;
	}

	.auction-nav {
		//border: 1px solid grey;
		padding: 0;

		h4 {
			color: #fff;
			background-color: $color_blue_light;
			text-transform: uppercase;
			padding: 10px 0;
			margin: 0;
			border: 1px solid #eff0f1;
			border-top: none;
		}

		.main-menu {
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				font-size: 16px;
				text-transform: uppercase;
				padding: 5px 10px;
				border: 1px solid #eff0f1;
				cursor: pointer;
				color: #717171;
				background-color: #fff;
				transition: all 0.7s;
			}
			li:hover, .active-auction-category {
				color: #fff;
				background-color: $color_green_light;
			}
		}
	}

	.auction-container {
		.auction-search {
			position: relative;
			margin-top: 20px;

			@media screen and (min-width: 768px) {
				margin-top: 0;
			}

			input {
				display: inline-block;
				width: 100%;
				height: 40px;
				padding-left: 5px;
				color: #8a8888;
				border: 1px solid #8a8888;
				outline: none;
				margin-bottom: 20px;
			}

			input::-moz-placeholder {
				color: #9fb9c6;
			}

			input::-webkit-input-placeholder {
				color: #9fb9c6;
			}

			input:-ms-input-placeholder {
				color: #9fb9c6;
			}

			.fa-search {
				position: absolute;
				top: 0%;
				right: 0%;
				padding: 6px 10px;
				cursor: pointer;
				color: #fff;
				background-color: $color_blue_light;
				transition: all 0.7s;
			}

			.fa-search:hover {
				background-color: $color_green_light;
			}
		}

		.auction-sort-condition {
			text-align: center;
			span {
				display: inline-block;
				margin: 0 5px;
			}

			.sort-title {
				font-size: 18px;
				color: $color_grey;
			}

			label {
				cursor: pointer;
			}

			.fa {
				color: $color_blue_light;
			}
		}

		.auction-item-cont {
			display: block;

			.auction-item {
				margin: 15px 0;
				border: 1px solid #00bbf5;
				cursor: pointer;

				.auction-img {
					width: 100%;
					//height: 30%;
				}

				.auction-title {
					padding: 10px;
					margin: 0;
					text-align: center;
					color: #fff;
					background-color: $color_green_light;
					font-size: 18px;
				}

				.auction-price {
					margin: 0;
					text-align: center;
					font-size: 24px;
					color: #000;
					background-color: #ba1e1e;
				}
			}
		}

		.pagination {
			display: block;
			text-align: center;
			margin-bottom: 30px;

			.pagination-btn {
				font-size: 16px;
				font-weight: 300;
				color: #fff;
				background-color: $color_blue_light;
				outline: none;
				//border: 1px solid #b7d4d3;
				border: none;
				padding: 5px 10px;
				margin: 0 2px;
				transition: all 0.5s;
			}
			.active-pagination {
				background-color: $color_green_light;
				margin: 0 4px;
			}
			.pagination-btn:hover {
				background-color: $color_green_light;
			}
		}
	}

	// PRE-VIEW WINDOW OF CURRENT LOT starts
	.auction-item-viewer-cont {
		@extend .extend-item-viewer-cont;

		.auction-item-viewer {
			@extend .extend-item-viewer;

			.close-btn {
				@extend .extend-close-btn;
			}
			.close-btn:hover {
				color: #000;
			}

			.left-side {
				position: absolute;
				top: 10%;
				left: 5%;
				width: 90%;

				img {
					display: none;
					width: 100%;
					border: 1px solid #00bbf5;
				}

				@media screen and (min-width: 700px) {
					top: 15%;
					left: 10%;
					width: 40%;

					img {
						display: block;
					}
				}
			}

			.right-side {
				position: absolute;
				top: 5%;
				right: 5%;
				width: 90%;

				@media screen and (min-width: 700px) {
					top: 15%;
					right: 5%;
					width: 40%;
				}

				.item-id, .item-title, .item-price, .item-date-sell {
					font-size: 16px;
					color: #000;
					margin-bottom: 5px;

					@media screen and (min-width: 700px) {
						font-size: 18px;
						margin-bottom: 15px;
					}
				}

				.item-price .value {
					padding-left: 10px;
					font-size: 20px;
					color: red;

					@media screen and (min-width: 700px) {
						font-size: 24px;
					}
				}

				.item-date-sell .value {
					padding-left: 10px;
					color: green;
				}

				.auction-form {
					margin-top: 20px;
					.input-name, .input-phone, .input-price {
						display: block;
						width: 200px;
						margin: 10px auto;
						padding: 5px 10px;
						border: 1px solid #8a8888;
						outline: none;
					}

					.error-border {
						border: 2px solid red;
					}

					.buy-btn {
						@extend .extend-submit-btn;
					}
					.buy-btn:hover {
						background-color: $color_green_light;
					}
				}
			}
		}
	}

	// ADD NEW LOT section starts
	.add-new-lot {
		width: 250px;
		height: 200px;
		margin: 0 auto;
		background-color: $color_blue_light;
		//background-image: url("..//images/lot_0.jpg");
		cursor: pointer;
		text-align: center;
		//border: 5px solid #ccb7b7;

		.my-plus {
			display: inline-block;
			color: #fff;
			margin: 30px;
			transition: all 0.5s;
		}

		@media screen and (min-width: 400px) {
			width: 300px;
			height: 250px;

			.my-plus {
				margin: 55px;
			}
		}
	}
	.add-new-lot:hover {
		.my-plus {
			color: yellow;
		}
	}

	.add-item-viewer-cont {
		@extend .extend-item-viewer-cont;
		//display: block;

		.add-item-viewer {
			@extend .extend-item-viewer;

			.close-btn {
				@extend .extend-close-btn;
			}
			.close-btn:hover {
				color: #000;
			}

			.add-item-form {
				width: 90%;
				position: relative;
				top: 12%;
				left: 5%;
				text-align: center;

				@media screen and (min-width: 600px) {
					width: 50%;
					left: 25%;
				}

				input[type="text"], input[type="number"], textarea, .item-category, .item-image-url {
					display: block;
					width: 100%;
					margin: 5px 0;
					padding: 5px;
					text-align: center;
					font-size: 16px;
					outline: none;
					//border: 1px solid #8a8888;

					@media screen and (min-width: 600px) {
						font-size: 18px;
						margin: 10px 0;
						padding: 10px 15px;
					}
				}

				.item-category {
					color: #000;
					//padding-left: 30%;
					text-align-last: center;

					@media screen and (min-width: 600px) {
						//padding-left: 45%;
					}
				}

				.error-border {
					border: 2px solid red;
				}

				.add-btn {
					@extend .extend-submit-btn;
				}
				.add-btn:hover {
					background-color: $color_green_light;
				}
			}
		}
	}
}

//********   SECTION "AUCTION" ENDS   **********

//----- CONTACT section starts ----
#contact {
	padding: 0px 0px 100px 0px;
	width: 100%;
	text-align: center;
	background-color: #f8fcfe;

	.map-cont {
		padding-left: 0;
		padding-right: 0;

		iframe {
			pointer-events: none;
			width: 100%;
			height: calc(100vh - 100px);
			background-color: $color_grey;
			border: none;
		}
		@media screen and (min-width: 768px) {
			padding-right: 15px;
		}
	}

	.social-btns-cont {
		padding: 15px 0;
		text-align: center;
		a {
			display: inline-block;
			border: 5px solid $color_grey;
			border-radius: 50%;
			color: $color_grey;
			margin: 5px;
			text-align: center;
			text-decoration: none;

			transition: all 0.7s;

			.fa {
				//@extend .verical-align;
				padding: 5px 2px;
				width: 40px;
				height: 40px;
			}
		}
		a:hover {
			border: 5px solid $color_blue_light;
			color: $color_blue_light;
		}

		@media screen and (min-width: 768px) {
			padding: 30px 0;
		}
	}

	.form-cont {
		//text-align: left;

		.input-contact-content {
			.inputs-container {
				padding: 40px 0 0 0;

				@media screen and (min-width: 768px) {
					padding: 85px 0 0 0;
				}

				h3 {
					font-size: 24px;
					color: #8a8888;
				}

				.input-name, .input-email, .input-text {
					width: 100%;
					font-size: 14px;
					font-weight: 400;
					color: #000;
					background-color: #ffffff;
					border: 2px solid #8a8888;
					outline: none;
					padding: 15px 10px;
					margin: 10px 0px;
					text-align: left;
				}

				input::-moz-placeholder {
					color: #9fb9c6;
				}
				input::-webkit-input-placeholder {
					color: #9fb9c6;
				}
				input:-ms-input-placeholder {
					color: #9fb9c6;
				}
				.input-name-error, .input-email-error, .input-text-error {
					display: none;
					padding: 0px 20px;
					margin: 0;
					font-size: 14px;
					font-weight: 400;
					color: red;
					background-color: transparent;
					text-align: left;
				}

				.submit-btn {
					outline: none;
					width: 100%;
					height: 60px;
					color: #ffffff;
					background-color: $color_green_light;
					border: none;
					border-radius: 5px;
					transition: background-color 0.7s;
					margin-top: 10px;
				}
				.submit-btn:enabled:hover {
					background-color: $color_blue_light;
				}
				.submit-btn:disabled {
					opacity: 0.7;
				}
			}
		}
	}
}

//----- FOOTER starts -----
#footer {
	width: 100%;
	min-height: 100px;
	background-color: #22353f;
	text-align: center;

	.footer-cont {
		//padding: 20px;
		p {
			display: block;
			color: #a5a6a7;
			font-size: 14px;
			font-weight: 300;
			padding: 10px 0px;
			padding-left: 10px;
			margin: 0px;
			span {
				color: $color_green_light;
			}
		}
		a {
			display: block;
			//width: 40px;
			//height: 40px;
			margin: 25px;

			.fa-angle-up {
				display: inline-block;
				color: #ffffff;
				background-color: $color_green_light;
				font-size: 32px;
				padding: 5px 11px;
				cursor: pointer;
				transition: all 0.7s;
			}

			.fa-angle-up:hover {
				background-color: $color_blue_light;
			}
		}
		@media screen and (min-width: 687px) {
			p, a {
				display: inline-block;
			}
		}
	}
}

